*{
    font-family: 'Schoolbell', Arial, sans-serif !important;
}
body{
    background-color: antiquewhite;
}
p{
    font-size: 24px;
    line-height: 1.6;
    color: #333333;
}
h1{
    text-align: center;
    font-size: 36px;
    color: #000000;
}
#blog{
    text-align: left;
    background-color: antiquewhite;
    display: grid;
    place-items: center;
    vertical-align: middle;
    height: auto;
    width:100%;
}
.post{
    border-radius: 10px;
    background-color: #ffffff;
    width:75%;
    margin:20px 5px 20px 5px;
    padding: 30px;
}
img{
    
}