* {
  font-family: 'Sora', sans-serif;
}
body {
  margin: 0;
  background-color: #d5dde5;
}
div{
    padding: 15px;
    margin:10px;
    border: 2px none black;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display:block;
}
.gall{
    padding: 15px;
    margin:10px;
    border: 2px none black;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display:flex;
}
p{
    margin: 12px;
    font-size: 20px;
}
img{
    height:auto;
    width:90%;
    display: block;
    border-radius: 12px;
    border: 2px solid #d5dde5;
    margin: auto;
}
a:hover img {
  border-color: #000;
  transition: border-color 0.15s ease;
}